*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.kaka{
    height: 300px;
    width: 100%;
    background-color: white;
}
.lol{
    border: 1px solid white;
    border-radius: 6px;
}
img{
    margin: 5px;
}
main{
    margin: 20px;
    height: 500px;
}
p{
    margin: 10px;
}

.moto-1{
    width: 80px;
    display: block;
    margin: 0 auto;
}
.moto-2{
    width: 80px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
footer{
    background-color: black;
    height: 150px;
}
